$mobile-widths-fluid: #{"min-width: 321px"};
$tablet-widths: #{"min-width: 728px"};
$tablet-widths-fluid: #{"min-width: 770px"};
$desktop-widths: #{"min-width: 1180px"};

$color-text: #333d48;
$bg-blue: #5fb4ea;
$color-mark: #ff0000;
