.about {
  margin-top: 103px;
}

.about__header {
  @include container;
  background: url(../img/iPhone-mob.png) no-repeat center 267px;
}

.about__text {
  margin: 0;
  padding: 50px 15px 213px;
  @include font-style(16px, 26px, 400, inherit);
  text-align: center;
}

.about__inner {
  width: 100%;
  padding: 15px 0 33px;
  color: #ffffff;
  background: $bg-blue url(../img/bg-blue-mob.jpg) no-repeat;
}

.about__list {
  display: flex;
  @include container;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.about__item {
  position: relative;
  width: 50%;
  margin-bottom: 13px;
  padding-top: 100px;
  padding-left: 10px;
  @include font-style(10px, 15px, 700, #ffffff);
  text-transform: uppercase;

  &:nth-child(even) {
    padding-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 44px;
    width: 63px;
    height: 63px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background: url(../img/phone.svg) no-repeat center;
  }

  &:nth-child(2)::before {
    left: 39px;
    background-image: url(../img/qw.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../img/dots.svg);
  }

  &:last-child::before {
    left: 39px;
    background-image: url(../img/clock.svg);
  }
}

@media ($mobile-widths-fluid) {
  .about__header {
    @include container-fluid;
  }

  .about__inner {
    background-size: cover;
  }

  .about__list {
    @include container-fluid;
  }

  .about__item::before {
    left: 36%;
  }
}

@media ($tablet-widths) {
  .about__header {
    @include container;
    background: url(../img/iPad-tablet.png) no-repeat center 212px;
  }

  .about__text {
    padding: 40px 30px 430px;
  }

  .about__inner {
    padding: 45px 0 50px;
    background: $bg-blue url(../img/bg-blue-tablet.jpg) no-repeat;
    background-size: auto;
  }

  .about__list {
    @include container;
  }

  .about__item {
    width: 25%;
    margin-bottom: 0;
    padding-top: 100px;

    &::before {
      left: 50px;
    }
  }
}

@media ($tablet-widths-fluid) {
  .about__header {
    @include container-fluid;
  }

  .about__inner {
    background-size: cover;
  }

  .about__list {
    @include container-fluid;
  }

  .about__item::before {
    left: 36%;
  }
}

@media ($desktop-widths) {
  .about__header {
    @include container;
    background: url(../img/iPhone-desc.png) no-repeat center 214px;
  }

  .about__text {
    padding: 65px 180px 430px;
  }

  .about__inner {
    padding: 70px 0;
    background: $bg-blue url(../img/bg-blue-desc.jpg) no-repeat;
    background-size: auto;
  }

  .about__list {
    @include container;
    justify-content: center;
  }

  .about__item {
    width: 180px;
    margin-right: 55px;
    padding-top: 115px;

    &::before {
      left: 50px;
    }
  }
}
