.contacts {
  width: 100%;
  margin-top: 32px;
  padding: 35px 0 12px;
  color: #ffffff;
  background-color: $bg-blue;

  &--portfolio-margin {
    margin-top: 59px;
  }
}

.contacts__wrapper {
  @include container
}

.contacts__title {
  @include visually-hidden;
}

.contacts__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin-bottom: 30px;
}

.contacts__link {
  display: block;
  padding: 5px 0 6px 53px;
  @include font-style(20px, 25px, 700, #ffffff);
  text-decoration: none;

  &--icon-tel {
    background: url(../img/icon-tel-mob.svg) no-repeat 9px 0;
  }

  &--icon-skype {
    background: url(../img/icon-skype.svg) no-repeat;
  }

  &--icon-mail {
    background: url(../img/icon-mail.svg) no-repeat 0 center;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.8;
    text-decoration: none;
  }
}

@media ($mobile-widths-fluid) {
  .contacts__wrapper {
    @include container-fluid;
  }

  .contacts__link {
    padding-left: 16.6%; /* 50px / 300px */
  }
}

@media ($tablet-widths) {
  .contacts {
    margin-top: 50px;
    padding: 37px 0;
  }

  .contacts__wrapper {
    @include container
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    max-width: 250px;
    margin-bottom: 0;
  }

  .contacts__link {
    padding-left: 29px;

    &--icon-tel {
      background-position-x: 0;
    }
  }
}

@media ($tablet-widths-fluid) {
  .contacts__wrapper {
    @include container-fluid;
  }

  .contacts__item {
    width: 250px;
  }

  .contacts__link {
    padding-left: 18%;
  }
}

@media ($desktop-widths) {
  .contacts {
    margin-top: 150px;

    &--portfolio {
      margin-top: 80px;
    }
  }

  .contacts__wrapper {
    @include container;
  }

  .contacts__list {
    justify-content: space-around;
  }

  .contacts__link {
    padding-left: 55px;
  }
}
