.feedback {
  @include container;
  padding: 32px 0 70px;
  background: #ffffff;
}

.feedback__title {
  margin: 0;
  @include font-style(20px, 28px, 700, inherit);
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.feedback__form {
  width: 100%;
  margin-top: 13px;
}

.feedback__form-title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #9d9d9d;
  outline: none;

  &--tel {
  margin-bottom: 18px;
  }

  &:hover,
  &:active {
    border-color: #000000;
  }

  &:focus {
    border-color: $bg-blue;
  }
}

.feedback__form legend {
  padding: 0 10px;
  @include font-style(12px, 22px, 400, #252525);
}

.feedback__form-title--tel legend {
  @include visually-hidden;
}

.feedback__form input,
.feedback__form textarea {
  width: 100%;
  padding: 0 10px 12px;
  border: none;
  outline: none;
}

.feedback__form-title--tel input {
  padding: 14px;
}

.feedback__form textarea {
  min-height: 172px;
}

.feedback__form input::-webkit-input-placeholder,
.feedback__form textarea::-webkit-input-placeholder {
  @include font-style(14px, 22px, 400, $color-text);
}

.feedback__form input:-moz-placeholder,
.feedback__form input::-moz-placeholder,
.feedback__form textarea:-moz-placeholder,
.feedback__form textarea::-moz-placeholder {
  @include font-style(14px, 22px, 400, $color-text);
}

.feedback__form input:-ms-input-placeholder,
.feedback__form textarea:-ms-input-placeholder {
  @include font-style(14px, 22px, 400, $color-text);
}

.feedback__form-title--tel input::-webkit-input-placeholder {
  color: rgba(37, 37, 37, 0.5);
}

.feedback__form-title--tel input:-moz-placeholder,
.feedback__form-title--tel input::-moz-placeholder {
  color: rgba(37, 37, 37, 0.5);
}

.feedback__form-title--tell input:-ms-input-placeholder {
  color: rgba(37, 37, 37, 0.5);
}

.feedback__btn {
  width: 184px;
  margin-top: 37px;
  margin-left: 54px;
  padding: 10px;
}

@media ($mobile-widths-fluid) {
  .feedback {
    @include container-fluid;
  }

  .feedback__btn {
    margin: 0 auto;
  }
}


@media ($tablet-widths) {
  .feedback {
    @include container;
    padding: 45px 0 80px;
  }

  .feedback__form {
    display: flex;
    margin-top: 42px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__form-inner {
    width: 350px;
  }

  .feedback__btn {
    margin: 19px auto 0;
  }
}

@media ($tablet-widths-fluid) {
  .feedback {
    @include container-fluid;
  }

  .feedback__form-inner {
    width: 45%; /* 350 / 768 */
  }
}

@media ($desktop-widths) {
  .feedback {
    @include container;
    padding: 77px 0 90px;
  }

  .feedback__form {
    width: 978px;
    margin: 0 auto;
    margin-top: 41px;
  }

  .feedback__form-inner {
    width: 456px;
  }
}
