.lang {
  position: relative;
  width: 40px;
  margin-left: 10px;
  text-align: right;
}

.lang__title {
  @include visually-hidden;
}

select {
  border: none;
}

.lang__link {
  display: block;
  @include font-style(15px, 2, 700, inherit);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-mark;
  }

  &:active {
    opacity: 0.5;
  }
}

.lang__link--choice {
  display: none;
  width: 40px;
  padding: 5px 10px;
  box-shadow: 0px 0px 6px 0px darkgrey;
  border: none;
  border-radius: 2px;
  transition: all 1s ease-in;
}

.lang:hover .lang__link--choice {
  position: absolute;
  top: 26px;
  right: 0;
  display: block;
  z-index: 13;
  width: 40px;
}

@media ($mobile-widths-fluid) {
  .lang {
    width: 12.5%; /* 40px / 320px */
    margin-left: auto;
  }
}

@media ($tablet-widths-fluid) {
  .lang {
    width: 5%; /* 60px / 1180px */
  }
}

@media ($desktop-widths) {
  .lang {
    width: 50px;
    margin-left: 40px;
    padding-left: 33px;
    border-left: 1px solid rgba(51, 61, 72, 0.2);
  }

  .lang:hover .lang__link--choice {
    right: -23px;
  }
}


