.lang {
  width: 40px;
  margin-left: 10px;
  text-align: right;
}

.lang__title {
  @include visually-hidden;
}

.lang__link {
  display: block;
  @include font-style(15px, 2, 700, inherit);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-mark;
  }

  &:active {
    opacity: 0.5;
  }
}

.lang__link--active {
  display: none;
}

@media ($mobile-widths-fluid) {
  .lang {
    width: 12.5%; /* 40px / 320px */
    margin-left: auto;
  }
}

@media ($tablet-widths-fluid) {
  .lang {
    width: 5%; /* 60px / 1180px */
  }
}

@media ($desktop-widths) {
  .lang {
    width: 60px;
    padding-left: 35px;
    border-left: 1px solid rgba(51, 61, 72, 0.2);
  }
}


