.logo {
  width: 110px;
  margin-left: 90px;
}

.logo__img {
  display: block;
}

.logo__img-color {
  display: none;
  }


@media ($mobile-widths-fluid) {
  .logo {
    width: 34.375%; /* 110px / 320px */
    margin-left: 28.125%;
  }

  .logo img {
    margin: 0 auto;
  }
}

@media ($tablet-widths) {
  .logo {
    width: 110px;
    margin-left: 200px;
  }
}

@media ($tablet-widths-fluid) {
  .logo {
    width: 14.3%; /* 110px / 768px */
    margin-left: 0;
  }

  .logo img {
    margin: 0;
  }
}

@media ($desktop-widths) {
  .logo {
    width: 320px;
    order: -1;
  }
}

@media ($desktop-widths-only) {
  .logo__img--grey {
    display: none;
  }

  .logo__img-color--menu-fixed {
    display: block;
  }
}
