.main-nav {
  position: relative;
  display: flex;
  width: 40px;
  min-height: 32px;
  flex-wrap: wrap;
}

.main-nav__toggle span {
  @include visually-hidden;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


@media ($menu-widths) {
  .main-nav--closed .main-nav__toggle {
    width: 13px;
    height: 2px;
    margin: auto 0;
    background: #494949;
    border: none;
    box-shadow: 0 4px 0 0 #494949,
                0 -4px 0 0 #494949;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color-mark;
      box-shadow: 0 4px 0 0 $color-mark,
      0 -4px 0 0 $color-mark;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 28px;
    height: 5px;
    background: none;
    border: none;

    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 2px;
    background: #494949;
    border: none;
    transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 2px;
      background: #494949;
      border: none;
      transform: rotate(-45deg);
    }
  }

  .main-nav--opened .main-nav__toggle:hover::before,
  .main-nav--opened .main-nav__toggle:hover::after,
  .main-nav--opened .main-nav__toggle:focus::before,
  .main-nav--opened .main-nav__toggle:focus::after {
    background-color: $color-mark;
  }

  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    opacity: 0.5;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 32px;
    left: -10px;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ebf5f9;
  }

  .main-nav--opened .main-nav__item {
    width: 100%;
    font-weight: 700;
  }

  .main-nav--opened .main-nav__item a {
    display: block;
    padding: 12px 21px 13px;
    @include font-style(14px, 32px, 700, inherit);
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #d8ebf7;
    border-bottom: 1px solid #f7fcfd;
  }

  .main-nav--opened .main-nav__item a[href] {
    &:hover,
    &:focus {
      color: $color-mark;
      background: #c7e5ff;
    }

    &:active {
      opacity: 0.5;
      background: inherit;
    }
  }

  .main-nav--nojs {
    width: 100%;
    order: 3;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    width: 100%;
    order: 3;
  }

  .main-nav--nojs .main-nav__item a {
    display: block;
    padding: 12px 21px 13px;
    @include font-style(14px, 32px, 700, inherit);
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #d8ebf7;
    border-bottom: 1px solid #f7fcfd;
  }


}



@media ($mobile-widths-fluid) {
  .main-nav {
    width: 12.5%; /* 40px / 320px */
  }
}


@media ($tablet-widths-fluid) {
  .main-nav {
    width: 50%; /*640px / 1280px */
  }
}

@media ($desktop-widths) {
  .main-nav {
    width: 640px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav__item {
    margin-right: auto;
  }

  .main-nav__link {
    position: relative;
    @include font-style(15px, 11px, 700, inherit);
    text-decoration: none;
    text-transform: uppercase;

    &--active::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: calc(50% - 50px); /* центруем полоску */
        width: 100px;
        height: 4px;
        background: $color-mark;
        border-radius: 10px;
    }

    &:hover:not(.main-nav__link--active),
    &:focus {
      color: $color-mark;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
