.menu {
  width: 100%;
  padding: 8px 0;
  background-color: #ebf5f9;
  border-bottom: 1px solid rgba(51, 61, 72, 0.2);
}

.menu__wrapper {
  display: flex;
  @include container;
  flex-wrap: wrap;
  align-items: center;
}

.menu__title {
  @include visually-hidden;
}

@media ($mobile-widths-fluid) {
  .menu__wrapper {
    @include container-fluid;
  }
}


@media ($tablet-widths) {
  .menu__wrapper {
    @include container;
  }
}

@media ($tablet-widths-fluid) {
  .menu__wrapper {
    @include container-fluid;
  }
}


@media ($desktop-widths) {

  .menu {
    position: fixed;
    top: 0;
    padding: 18px;
    background: transparent;
    transition: background 1s ease-in-out;

    &--border-no {
      border-bottom: none;
    }
  }

  .menu__wrapper {
    @include container;
    padding: 0;
  }
}

@media ($desktop-widths-only) {
  .menu--fixed {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(51, 61, 72, 0.2);
    z-index: 10;
  }
}
