.news {
  padding-top: 47px;
  background: #ffffff;
}

.news__wrapper {
  @include container;
}

.news__title {
  width: 220px;
  margin: 0 auto;
}

.news__subtitle {
  margin: 55px 0 0;
  padding:  0 15px;
  @include font-style(16px, 26px, 400, inherit);
  text-align: center;
}

.news__item {
  margin-top: 33px;

  &:last-child {
    display: none;
  }
}

.news__item img {
  display: block;
  width: 100%;
}

.news__item-caption {
  width: 100%;
  margin: 0;
  margin-top: 14px;
  @include font-style(16px, 25px, 700, inherit);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.news__item-time {
  position: relative;
  display: block;
  margin-top: 7px;
  padding: 5px 20px;
  @include font-style(14px, 32px, 700, inherit);
  letter-spacing: 0.1em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 60px;
    background: $color-mark;
    border-radius: 10px;
  }
}

.news__item-text {
  margin: 0;
  margin-top: 6px;
  padding: 0 20px 3px;
  @include font-style(14px, 23px, 400, inherit);
}

@media ($mobile-widths-fluid) {
  .news__wrapper {
    @include container-fluid;
  }
}

@media ($tablet-widths) {
  .news {
    padding-top: 90px;
  }

  .news__wrapper {
    display: flex;
    @include container;
    flex-wrap: wrap;
  }

  .news__title {
    width: 100%;
  }

  .news__subtitle {
    width: 100%;
    margin-top: 73px;
    margin-bottom: 7px;
    padding: 0 30px;
  }

  .news__item {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
  }

  .news__item-img {
    width: 350px;
  }

  .news__item-img--order {
    order: 2;
  }

  .news__item-desc {
    width: 350px;
  }

  .news__item-caption {
    font-size: 18px;
    margin-top: 0;
  }

  .news__item-time {
    margin-top: 11px;
  }

  .news__item-text {
    line-height: 25px;
  }
}

@media ($tablet-widths-fluid) {
  .news__wrapper {
    @include container-fluid;
  }

  .news__subtitle {
    padding:  0 4%; /* 30px / 730px */
  }

  .news__item-desc {
    width: 48%;
  }

  .news__item-caption {
    font-size: 18px;
    line-height: 28px;
  }
}

@media ($desktop-widths) {
  .news {
    padding-top: 125px;
  }

  .news__wrapper {
    @include container;
  }

  .news__subtitle {
    width: 770px;
    margin: 90px auto 0;
    padding: 0 15px;
  }

  .news__item {
    margin-top: 60px;

    &:nth-of-type(2) {
      display: none;
    }

    &:last-child {
      display: flex;
    }
  }

  .news__item-img {
    width: 560px;
  }

  .news__item-desc {
    width: 550px;
    margin-top: 55px;
  }

  .news__item-time {
    margin-top: 21px;
  }
}
