.page-current {
  background-image: url("../img/bg-mob.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  &--nojs {
    background-position-y: 385px;
  }
}

@media ($tablet-widths) {
  .page-current {
    background-image: url("../img/bg-tablet.jpg");
  }
}

@media ($tablet-widths-fluid) {
  .page-current {
    background-size: cover;
  }
}

@media ($desktop-widths) {
  .page-current {
    background-image: url("../img/bg-desc.jpg");
    background-size: contain;

    &--nojs {
      background-position-y: 0;
    }
  }
}
