.page-index {
  background-image: url("../img/bg-mob.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  &--nojs {
    background-position-y: 295px;
  }
}

@media ($tablet-widths) {
  .page-index {
    background-image: url("../img/bg-tablet.jpg");
  }

}

@media ($desktop-widths) {
  .page-index {
    background-image: url("../img/bg-desc.jpg");
  }
}
