.partners {
  @include container;
  margin-top: 40px;
}

.partners__link {
  display: block;
  margin-top: 50px;
}

@media ($tablet-widths) {
  .partners {
  margin-top: 100px;
  }

  .partners__link {
    margin-top: 70px;
  }
}

@media ($desktop-widths) {
  .partners img {
    display: block;
    margin: auto;
  }

  .partners__link {
    margin-top: 90px;
  }
}
