.projects__title {
  margin-top: 20px;
}

.projects__wrapper {
  @include container;
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects__item:not(:first-child) {
  margin-top: 39px;
}

.projects__item--tablet,
.projects__item--desktop {
  display: none;
}

.projects__foto {
  margin-top: 18px;
}

.projects__foto img {
  display: block;
}

.projects__desc {
  margin-top: 15px;
}

.projects__desc a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-mark;
  }

  &:active .projects__item-caption {
    opacity: 0.5;
  }
}

.projects__item-caption {
  margin: 0;
  @include font-style(20px, 31px, 700, inherit);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.projects__text {
  margin: 0;
  margin-top: 15px;
  padding-right: 20px;
  @include font-style(16px, 27px, 400, inherit);
}

.projects__time {
  margin: 0;
  margin-top: 15px;
  @include font-style(16px, 27px, 400, inherit);
}


@media ($mobile-widths-fluid) {
  .projects__wrapper {
    @include container-fluid;
  }

  .projects__foto img {
    margin: auto;
  }
}

@media ($tablet-widths) {
  .projects__wrapper {
    @include container;
  }

  .projects__title {
    margin-top: 25px;
  }

  .projects__list {
    display: flex;
    width: 100%;
    margin-top: 25px;
    flex-wrap: wrap;
  }

  .projects__item {
    width: 354px;
    margin-right: auto;
    margin-bottom: 50px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .projects__item:not(:first-child) {
    margin-top: 0;
  }

  .projects__item--tablet {
    display: block;
  }

  .projects__foto {
    margin: 0;
  }

  .projects__foto img {
    margin: 0;
  }

  .projects__desc {
    margin-top: 18px;
  }

  .projects__item-caption {
    letter-spacing: normal;
  }

  .projects__text {
    margin-top: 16px;
  }

  .projects__time {
    margin-top: 10px;
  }
}

@media ($tablet-widths-fluid) {
  .projects__wrapper {
    @include container-fluid;
  }

  .projects__title {
    margin-top: 60px;
  }

  .projects__list {
    margin-top: 35px;
  }

  .projects__item {
    width: 45.57%; /* 350 / 768 */
  }
}

@media ($desktop-widths) {
  .projects__wrapper {
    @include container;
  }

  .projects__title {
    margin-top: 173px;
  }

  .projects__item {
    width: 365px;

    &:nth-child(even) {
      margin-right: auto;
    }
  }

  .projects__item--desktop {
    display: block;
  }
}


